$glass-blur: 16px;
$glass-opacity: 0.2;

$color-primary: #9EADBD;
$color-secondary: rgba(white, var(--glass-opacity));
$color-tertiary: #F1F1E6;
$color-background: #3B4856;

$header-height: 8rem;
$width: 600px;

$spacing: 12px;
$big-spacing: 4rem;
$half-big-spacing: 2rem;

$font-size: 16pt;
$font-family: Roboto, sans-serif;

$tile-size: 4rem;
$tile-text-color: white;

$anim-time: 0.25s;

$background: linear-gradient(225deg, $color-background, #{darken($color-background, 10%)});

/**
 * Set up standard CSS3 variables
 */

:root {
    --primary-color: #{$color-primary};
    --secondary-color: #{$color-secondary};
    --tertiary-color: #{$color-tertiary};
    --background-color: #{$color-background};

    --header-height: #{$header-height};
    --width: #{$width};

    --spacing: #{$spacing};

    --big-spacing: #{$big-spacing};
    --half-big-spacing: #{$half-big-spacing};

    --font-size: #{$font-size};
    --font-family: #{$font-family};

    --tile-size: #{$tile-size};
    --tile-text-color: #{$tile-text-color};
    --anim-time: #{$anim-time};

    --glass-opacity: #{$glass-opacity};
    --glass-blur: #{$glass-blur};

    --background: #{$background};
}

@media screen and (max-width: 650px) {
    @import "styles/mobile/mobile";
}

@media screen and (min-width: 1921px) {
    @import "styles/large/large";
}